.text-center{
    text-align: center !important;
}

.header{
    background-color: rgb(237, 181, 113);
}

.header th{
    font-weight: bold;
    color: #fff;
}

.body-odd{
    background-color: violet;
}

.body-even{
    background-color: rgb(202, 248, 233);
}